.idea/
.vscode/
__pycache__/
.tox/
.coverage
.coverage.*
htmlcov/
docs/_build/
dist/
venv/
.venv/
.env

# Docker related
docker-compose.yml
Dockerfile
*.dockerignore
.docker/
*.tar
*.tar.gz

# Ignore default Docker volumes
volumes/
